.text-align-left{
    text-align: left;
}

.submit-btn{
    background-color: #03dac5;
    color: white;
    padding: 0px 18px;
    margin-left: 4px;

}

.align-center{
    text-align: center;
}

h2{
    justify-content: center;
}
.margin-bottom-10{
    margin-bottom: 10px;
}