.smoker-radio-box {
    background-color: rgba(0, 0, 0, 0.04);
    color: #566266;
    padding: 8px 50px 8px 10px;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    /* box-shadow: 0 2px 0 0 #c6cacc; */
    display: inline-flex;
    width: 41%;
    box-shadow: 0 0 0 1px #cac2d5;
  }
  
  /* .smoker-radio-box mat-radio-button {
    left: 0;
    right: 0;
    margin: 3px 1px;
  } */
  
  .smoker-radio-box mat-radio-button:checked {
    border-color: #673ab7;
  }
  
  mat-card {
    border: 1px solid #b0b0b0;
  }
  
  .nominee {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .margin-left {
    margin-left: 5px;
  }

  .margin_btwn_ques{
    margin-bottom: 15px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .margin-top-5 {
    margin-top: -5px;
  }
  
  .display-flex {
    display: flex;
  }
  
  .man-field {
    font-size: 14px;
    color: red;
  }
  
  .margin-bottom-30 {
    margin-bottom: 30px;
  }
  