<div class="quote-protection-container">
    <!-- -- Main Row --  -->

    <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
        <!-- --Mian Division--  -->
        <div fxFlex="30" class="edit-quote-col">
            <!-- -- Division inside 1st col --  -->
            <app-display-edit-protection-quote [finalQuote]="finalQuote" [isDoneEditing]="isDoneEditing"
                (isEditTrue)="onEditClicked($event)" (changeInQuoteInput)="onChangeInInput($event)"
                (updateResults)="updateResults()"></app-display-edit-protection-quote>

        </div>
        <!--   <div *ngIf='showloader'>
            <mat-progress-spinner [diameter]="50" mode="indeterminate">
            </mat-progress-spinner>
        </div>-->

        <!-- --Plan quote details-- desktop -->
        <div fxFlex="70" class="plan-quote-col" *ngIf="!isErrorDiv">
            <!--  <div *ngIf='showloader == false'>-->
            <div>
                <app-display-result-protection-quote [finalQuote]="finalQuote" [minumumValue]="minumumValue"
                    [higherValue]="higherValue" [minimumPPTValue]="minimumPPTValue" [higherPPTValue]="higherPPTValue">
                </app-display-result-protection-quote>
                <!-- <mat-progress-spinner [diameter]="50" mode="indeterminate" *ngIf="isLoading">
                </mat-progress-spinner>-->
            </div>
        </div>

        <div fxFlex="70" *ngIf="isErrorDiv">
            <div fxLayout="row" fxLayout.xs="column" class="error-background" fxLayout.sm="column" fxLayoutGap="10px">
                <!-- <div fxFlex="15">
                    <img src="../../../assets/images/error-img.png">
                </div>-->
                <div fxFlex="90">
                    <mat-error>{{ errorDetail }}</mat-error>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal" *ngIf="isEditTrue">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="cancelEdit()">&times;</span>
                <div class="edit-quote-container">
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px"
                        class="rows-edit-col">
                        <div fxFlex="100" class="finish-editing-heading"><label>Finished Editing?</label></div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px"
                        class="rows-edit-col">
                        <div fxFlex="100"><label>To view your new results, select Update Results</label></div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px"
                        class="margin-bottom">
                        <div fxFlex="100"></div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px"
                        class="rows-edit-col">
                        <div fxFlex="50"><button mat-raised-button class="cancel-btn"
                                (click)="cancelEdit()">Cancel</button>
                        </div>
                        <div fxFlex="50"><button mat-raised-button class="update-btn" (click)="updateResults()">Update
                                Results</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
    <div fxFlex="30" class="edit-quote-col">
    </div>

    <div fxFlex="70" class="plan-quote-col">
        <div class="disclaimer_text">The information and details of insurance product solutions displayed are purely for
            illustrative purposes only. For more details on risk factors,
            terms and conditions, please read the sales brochure of the respective Insurer carefully before concluding a
            sale.
        </div>
    </div>
</div>