.heading {
    color: white;
    background: #673ab7;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.plan-name {
    display: flex;
    flex-direction: column;
}

.plan-name>div {
    width: 90%;
    /* height: 100px; */
}
.error_data {
    border: 1px solid #9b2d48;
    background-color: #fce8e9;
    color: #9b2d48;
    font-weight: 500;
    box-shadow: 0px 0px 0px 1px #fce8e9;
    padding-top: 10px !important;
}
.help-descriptionerror {
    margin-top: 15px;
    /* height: 58px; */
    padding: 0px 20px;
    /* width: 295px; */
    margin-bottom: 10px;
}
.heading-row {
    background: #673ab7;
}

.label-heading {
    margin: auto;
    left: 0;
    right: 0;
}

.background-color {
    background: rgba(0, 0, 0, .04);
}

.edit-quote-label {
    font-weight: 500;
    color: black;
}

.edit-heading-label {
    font-size: 18px;
    font-weight: 500;
}

.margin-30 {
    margin-bottom: 30px;
}

.rows-edit-col {
    padding: 5px;
    max-width: 90%;
    margin: auto;
    left: 0;
    right: 0;
}

.rows-plan-col {
    padding: 5px;
}

.edit-quote-col input {
    width: 100%;
    height: 30px;
    border: none;
    background: rgba(0, 0, 0, .04);
}

.quote-fields {
    background: rgba(0, 0, 0, .04);
    padding: 10px 5px;
    /* height: 3rem; */
}

a {
    cursor: pointer;
    color: #0070c9;
    font-weight: 500;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.help-description {
    margin-top: 10px;
    /* height: 58px; */
    padding: 20px;
    /* width: 295px; */
    background: lavender;
}

.buy-now-btn {
    background: #03dac5;
    color: white;
    font-size: 18px;
}

.btn-div {
    text-align: end;
}

.edit-anchor {
    text-align: end;
}

.edit-anchor a {
    color: #b00020 !important;
}

.back-nav-health {
    margin-top: 20px;
}

.back-nav-health a {
    text-decoration: underline;
}

.more-details-link {
    text-decoration: underline;
    padding-right: 24px;
}
.offline-policy-link{
    text-decoration: underline;
    padding-right: 24px;
    font-size: 20px;
}

/* --Mobile view ---  */

.company-logo-div {
    margin: auto;
    left: 0;
    right: 0;
}

.font-16 {
    font-size: 16px;
}

.bold {
    font-weight: 500;
}

.rows-edit-col-mobile {
    padding: 5px;
    max-width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 15px;
}

.btn-div-mob {
    text-align: center;
}

p {
    text-align: justify;
}

.product-name {
    font-size: 18px;
    font-weight: 500;
    color: #673ab7;
}

.gender-radio-box {
    color: #566266;
    padding: 8px 10px 8px 10px;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    /* box-shadow: 0 2px 0 0 #c6cacc; */
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    display: inline-flex;
}

.gender-radio-box mat-radio-button, .gender-radio-box1 mat-radio-button {
    left: 0;
    right: 0;
    margin: 3px 1px;
}

.gender-radio-box mat-radio-button:checked, .gender-radio-box1 mat-radio-button:checked {
    border-color: #673ab7;
}

.projected {
    text-align: left;
    margin-top: 0px;
}

/* media query  */

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #673ab7;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #673ab7;
}

@media (max-width: 619px) {
    .gender-radio-box {
        width: 39%;
    }
    .gender-radio-box {
        width: 95% !important;
        margin-bottom: 10px !important;
    }
    .gender-radio-box.margin-left {
        margin-left: 0px !important;
    }
}