<div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="more-details-container">
    <!-- --Plan Name Col--  -->
    <div fxFlex="30">

        <div flex fxLayout="row" class="background heading-row">
            <div fxFlex="100" class="heading"><label>Your Plan Name</label></div>
        </div>
        <div flex fxLayout="row" class="plan-name-row background">
            <div fxFlex="100" class="plan-name"><label>{{policyQuoteArr?.productName}}
                </label></div>
        </div>
        <div flex fxLayout="row" class="">
            <div fxFlex="50" class="background padding-10"><label>Total Premium</label></div>
            <div fxFlex="50" class="background padding-10 text-right"><label>{{totalPremiumDisplayed | currency :
                    'INR':'symbol':'1.0-0'}}</label>
            </div>
        </div>
        <!-- --Premium break up--starts -->
        <div flex fxLayout="row" class="row-gap">
            <div fxFlex="100">
                <a class="need-help-text" (click)="hideShowPremiumBreakup()">Premium Break-up</a>
            </div>
        </div>
        <ng-container *ngIf="isShowPremiumBreakup">
            <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                <div fxFlex="100">
                    <p class="need-help-text1" class="addonfont">TP</p>
                </div>
            </div>
            <div *ngFor="let tpandod of tpbase;let i = index">
                <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px" *ngIf="tpandod.coverId == 'TP'">

                    <div fxFlex="50" class="background third_party_label">
                        <label>{{ tpandod.displayName }}</label>
                    </div>
                    <div fxFlex="50" class="background text-right">
                        <label>{{ tpandod.netPremium | currency : 'INR' :'symbol':'1.0-0'}}</label>
                    </div>

                </div>
            </div>

            <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                <div fxFlex="100">
                    <p class="need-help-text1" class="addonfont">OD</p>
                </div>
            </div>
            <div *ngFor="let tpandod of tpbase;let i = index">
                <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px" *ngIf="tpandod.coverId == 'OD'">
                    <div fxFlex="50" class="background third_party_label">
                        <label>{{ tpandod.displayName }}</label>
                    </div>
                    <div fxFlex="50" class="background text-right">
                        <label>{{tpandod.netPremium | currency : 'INR' :'symbol':'1.0-0'}}</label>
                    </div>
                </div>

            </div>

            <div *ngIf="addonInformation">
                <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                    <div fxFlex="100">
                        <p class="need-help-text1" class="addonfont">Addon</p>
                    </div>
                </div>
                <div *ngFor="let benefit of includedBenefit;let i=index">

                    <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px" *ngIf="benefit.coverType == 'A' ">
                        <div fxFlex="50" class="background">{{benefit?.displayName}}
                        </div>
                        <div fxFlex="50" class="background text-right">{{benefit.premium[0]?.netPremium |
                            currency:'INR':'symbol':'1.0-0'}}</div>
                    </div>
                </div>
            </div>
            <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                <div fxFlex="100">
                    <p class="need-help-text1" class="addonfont"></p>
                </div>
            </div>
            <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                <div fxFlex="50" class="background">
                    <label>Base Premium</label>
                </div>
                <div fxFlex="50" class="background text-right">
                    <label>{{basePremiumDisplayed | currency : 'INR':'symbol':'1.0-0'}}</label>
                </div>
            </div>
            <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                <div fxFlex="50" class="background">
                    <label>GST</label>
                </div>
                <div fxFlex="50" class="background text-right">
                    <label>{{gstDisplayed | currency : 'INR':'symbol':'1.0-0'}}</label>
                </div>
            </div>
            <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
                <div fxFlex="50" class="background">
                    <label>Total Premium</label>
                </div>
                <div fxFlex="50" class="background text-right">
                    <label>{{totalPremiumDisplayed | currency : 'INR' :'symbol':'1.0-0'}}</label>
                </div>
            </div>
        </ng-container>

        <!-- --Premium break up ends-- -->

        <div flex fxLayout="row" class="buy-btn-row row-gap mobile-buy-btn">
            <div fxFlex="100" class=""><button class="buy-now-btn" mat-raised-button (click)="onBuyNow()">Buy
                    Now</button></div>
        </div>
        <!-- --Link to Brochure & Plan Details--  -->
        <!--  <div flex fxLayout="row" class="help-text row-gap">
            <div fxFlex="100" class=""><a class="link-to-document"  target="_blank">Your Plan Details</a></div>
        </div>-->
        <div flex fxLayout="row" class="help-text row-gap">
            <div fxFlex="100" class=""><a class="link-to-document" (click)="brochureLink(policyQuoteArr?.brochureUrl)"
                    target="_blank">View Brochure</a></div>
        </div>

    </div>
    <!-- --Plan Details Col-- -->
    <div fxFlex="60">
        <div flex fxLayout="row" class=" heading-row">
            <div fxFlex="100" class=" background heading"><label>Policy Details</label></div>
        </div>
        <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
            <div fxFlex="50" class="padding-10 background"><label>Insured Declared Value</label></div>
            <div fxFlex="50" class="padding-10 background"><label>{{policyQuoteArr?.sa |
                    currency:'INR':'symbol':'1.0-0'}}</label></div>
        </div>
        <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
            <div fxFlex="50" class="padding-10 background"><label>Amount paid as Premium</label></div>
            <div fxFlex="50" class="padding-10 background"><label>{{totalPremiumDisplayed |
                    currency:'INR':'symbol':'1.0-0'}}</label>
            </div>
        </div>
        <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
            <div fxFlex="50" class="padding-10 background"><label>Your Policy Cover will last for</label></div>
            <div fxFlex="50" class="padding-10 background"><label>{{payPremium}} Year(s)</label></div>
        </div>
        <div flex fxLayout="row" class="row-gap" fxLayoutGap="10px">
            <div fxFlex="50" class="padding-10 background"><label>How often will you pay Premiums?</label></div>
            <div fxFlex="50" class="padding-10 background"><label>Single</label></div>
        </div>
        <!-- --Customize --  -->
        <ng-container *ngIf="showCustomisePolicy">
            <div flex fxLayout="row" class=" heading-row row-gap">
                <div fxFlex="100" class=" background heading "><label>Customise Your Policy</label></div>
            </div>
            <ng-container *ngFor="let addOn of addOnBenifit;let i=index">
                <div flex fxLayout="row" fxLayoutGap="5px" class="heading-row row-gap">
                    <div fxFlex="49" class="padding-10 customise-list background"><label>{{addOn?.displayName}}</label>
                    </div>
                    <div fxFlex="32" class="padding-10 add-for-text background">
                        <label>{{showSentence}}{{addOn.premium[0]?.netPremium |
                            currency:'INR':'symbol':'1.0-0'}}</label>
                    </div>
                    <div fxFlex="10" fxHide.xs="true" fxHide.sm="true" class="padding-10 ">
                        <a class="add-remove-policy" (click)="addOrRemoveCustomisePolicy(i)"
                            *ngIf="addOn.selected == true">Remove</a>
                        <a class="add-remove-policy" (click)="addOrRemoveCustomisePolicy(i)"
                            *ngIf="addOn.selected == false">Add</a>
                    </div>

                    <div fxFlex="10" fxHide.xs="false" fxHide.md="true" fxHide.sm="false" fxHide.lg="true"
                        class="padding-10 add-remove">
                        <mat-icon class="add-remove-icon" (click)="addOrRemoveCustomisePolicy(i)"
                            *ngIf="addOn.selected == true">remove_circle_outline</mat-icon>
                        <mat-icon class="add-remove-icon" (click)="addOrRemoveCustomisePolicy(i)"
                            *ngIf="addOn.selected == false">add_circle_outline</mat-icon>
                    </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="10px" class="">
                    <div fxFlex="100" class="">
                        <a class="padding-left" (click)="toggleShowCustomise(i)">What is this?</a>
                        <div class="need-help-description" *ngIf="isShowCustomDesc[i]">
                            <p>{{addOn?.benefitText}}</p>

                        </div>
                    </div>
                </div>

            </ng-container>
        </ng-container>
        <!-- <div flex fxLayout="row" fxLayoutGap="10px" class="heading-row row-gap">
            <div fxFlex="49" class="padding-10 customise-list background"><label>Cumulative Bonus Booster</label></div>
            <div fxFlex="30" class="padding-10 add-for-text background"><label>Add for Rs.193</label></div>
            <div fxFlex="10" fxHide.xs="true" fxHide.sm="true" class="padding-10 add-remove"><label>Add</label></div>
            <div fxFlex="10" fxHide.xs="false" fxHide.md="true" fxHide.sm="false" fxHide.lg="true"
                class="padding-10 add-remove">
                <mat-icon>add_circle</mat-icon>
            </div>
        </div> -->

        <!-- --Benifits-- -->
        <div flex fxLayout="row" class=" heading-row row-gap">
            <div fxFlex="100" class=" background heading "><label>Benefits</label></div>
        </div>
        <ng-container *ngFor="let benefit of includedBenefit;let i=index">
            <div flex fxLayout="row" fxLayoutGap="10px" class="heading-row ">
                <div fxFlex="50" class="padding-10 benefits-list background"><label>{{benefit?.displayName}}</label>
                </div>
                <div fxFlex="50" class="padding-10 benefits-list background"><label>Included</label></div>
            </div>
            <div flex fxLayout="row" fxLayoutGap="10px" class="">
                <div fxFlex="100" class="">
                    <a class="padding-left" (click)="toggleShow(i)">What is this?</a>
                    <div class="need-help-description" *ngIf="isShowDescription[i]">
                        <p>{{benefit?.benefitText}}</p>

                    </div>
                </div>
            </div>

            <!-- <div *ngIf="isShowDescription" flex fxLayout="row" fxLayoutGap="10px" class="heading-row row-gap">
                <div fxFlex="100" class="need-help-description benefits-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Covered up to Sum Insured of Rs.
                        1,000,000
                    </p>
                </div>
            </div> -->
        </ng-container>
    </div>
    <div fxFLex="5"><span class="material-icons close-icon" (click)="exitMoreDetails()">
            close
        </span>
    </div>

</div>