<div>
  <div class="flex-container">
    <div class="headding">
      <mat-icon mat-list-icon color="primary">library_books</mat-icon>Underwriting Approval
    </div>
    <div style="flex-basis: 30%"></div>
    <div style="flex-basis: 30%"></div>
    <div style="flex-basis: 20%" class="transform">
      <form class="example-form" [formGroup]="searchForm">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{ 'component.SEARCH' | translate }}</mat-label>
          <input matInput (keyup)="onSearchFieldChange()" formControlName="searchField" />
          <mat-icon matSuffix color="primary">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div *ngIf="!loadingError">
    <table mat-table [dataSource]="uwPoliciesCopy" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef [ngClass]="{
          'theme-table-red': orgCode === 'SIB',
          'theme-table-purple': orgCode !== 'SIB'
        }">{{ column }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column === ' ' && element?.status === 'UW Pending'">
            <img src="../../assets/images/pending-24px.svg" />
          </ng-container>

          <ng-container *ngIf="column === 'Action'">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                *ngIf="element?.statusCode === 5"
                mat-menu-item
                [routerLink]="[
                  '/group-credit',
                  'under-writing',
                  'decision',
                  element?.applicationNo
                ]"
              >
                <img
                  src="../../assets/icons/notification_important-24px.svg"
                  class="material-icons"
                />
                <span>Record UW Decision</span>
              </button>
            </mat-menu>
          </ng-container>

          <ng-container *ngIf="column === 'Insurer Name'">
            {{ element?.insurerName }}
          </ng-container>

          <ng-container *ngIf="column === 'Product Name'">
            {{ element?.productName }}
          </ng-container>

          <ng-container *ngIf="column === 'Application Number'">
            <a
              [routerLink]="['/', 'proposal', element?.productId, element?.applicationNo, 'Long']"
              class="proposal_link"
            >
              {{ element['applicationNo'] }}
            </a>
          </ng-container>

          <ng-container *ngIf="column === 'Customer Name'">
            {{ element?.applicationData?.primaryInsured?.firstName }}
          </ng-container>

          <ng-container *ngIf="column === 'Status'">
            {{ element?.status }}
          </ng-container>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div
            class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          >
            <div *ngIf="media.isActive('lg') || media.isActive('md') || media.isActive('sm')">
              <!-- --customer-- -->
              <div
                flex
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutGap="10px"
                class="grid-item-inside"
              >
                <div fxFlex="16">
                  <strong>{{ 'component.CUSTOMER' | translate }}</strong>
                </div>
              </div>

              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.NAME' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.MOBILE' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.EMAIL' | translate }}: </label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <span>
                    {{ element?.applicationData?.primaryInsured?.firstName }}
                  </span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.proposer?.mobile }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.proposer?.email }}</span>
                </div>
              </div>
              <!-- --Agency Data --  -->
              <div
                flex
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutGap="10px"
                class="margin-top-10 grid-item-inside"
              >
                <div fxFlex="16" classs="">
                  <strong>{{ 'component.AGENCY_DATA' | translate }}</strong>
                </div>
              </div>
              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.SP_CODE' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.SP_NAME' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.INSURER_RM_NAME' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.INSURER_RM_MOBILE' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.INSURER_RM_EMAIL' | translate }}: </label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <span> {{ element?.approvingSp }} </span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.spName }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.insurerRmName }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.insurerRmContact }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.insurerRmEmail }}</span>
                </div>
              </div>
              <!-- --risk data-- -->
              <div
                flex
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutGap="10px"
                class="margin-top-10"
              >
                <div fxFlex="16" class="grid-item-inside">
                  <strong>{{ 'component.POLICY_DATA' | translate }}</strong>
                </div>
              </div>
              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.POLICY_START_DATE' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.POLICY_END_DATE' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.INSURER_APP_NO' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.LINE_OF_BUSINESS' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label *ngIf="element?.lob === 'Motor'">Insured Declared Value:</label>
                  <label *ngIf="element?.lob !== 'Motor'"
                    >{{ 'component.SUM_ASSURED' | translate }}:</label
                  >
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.PRODUCT_TYPE' | translate }}: </label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <span> {{ element?.policyStartDate }} </span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.policyEndDate }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.insurerApplicationNo }}</span>
                  <!-- <span>{{ element?.policyEndDate }}</span> -->
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.lob }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span *ngIf="element?.lob === 'Motor'">{{
                    element?.applicationData?.vehicleInfo?.idv | currency: 'INR':'symbol':'1.0-0'
                  }}</span>
                  <span *ngIf="element?.lob !== 'Motor' && element?.lob !== 'Life'">{{
                    element?.applicationData?.sumInsured | currency: 'INR':'symbol':'1.0-0'
                  }}</span>
                  <span *ngIf="element?.lob === 'Life'">
                    {{ element?.applicationData?.sumInsured | currency: 'INR':'symbol':'1.0-0' }}
                  </span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.productType }}</span>
                </div>
              </div>
              <!-- --premium details --  -->
              <div
                flex
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutGap="10px"
                class="margin-bottom-10"
              >
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.BASE_PREMIUM' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.GST' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.PAYMENT_FREQUENCY' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.POLICY_TERM' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.PAYMENT_TERM' | translate }}: </label>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <label>{{ 'component.NEXT_PREMIUM_DATE' | translate }}: </label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.basePremium | currency: 'INR':'symbol':'1.0-0' }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.gst | currency: 'INR':'symbol':'1.0-0' }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span *ngIf="element?.mode == 0">Single</span>
                  <span *ngIf="element?.mode == 1">Annual</span>
                  <span *ngIf="element?.mode == 2">Half Yearly</span>
                  <span *ngIf="element?.mode == 4">Quarterly</span>
                  <span *ngIf="element?.mode == 12">Monthly</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.pt }} Year(s)</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span *ngIf="element?.ppt == 0">Single</span>
                  <span *ngIf="element?.ppt != 0">{{ element?.ppt }} Year(s)</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.policyEndDate }}</span>
                </div>
              </div>

              <!-- --LIFE POLICY -- -->
              <ng-container *ngIf="element?.lob === 'Life'">
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.INSURED_NAME' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.DOB' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.GENDER' | translate }}: </label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <span *ngIf="element?.applicationData?.insureds?.length > 0">
                      {{ element?.applicationData?.insureds[0]?.firstName }}
                      {{ element?.applicationData?.insureds[0]?.lastName }}
                    </span>
                    <span *ngIf="element?.productType === 'GC'">
                      {{ element?.applicationData?.primaryInsured?.firstName }}
                      {{ element?.applicationData?.primaryInsured?.lastName }}
                    </span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span *ngIf="element?.applicationData?.insureds?.length > 0">{{
                      element?.applicationData?.insureds[0]?.dob
                    }}</span>
                    <span *ngIf="element?.productType === 'GC'">{{
                      element?.applicationData?.primaryInsured?.dob
                    }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span
                      *ngIf="
                        element?.productType === 'GC' &&
                        element?.applicationData?.primaryInsured?.gender === 'M'
                      "
                    >
                      Male</span
                    >
                    <span
                      *ngIf="
                        element?.productType === 'GC' &&
                        element?.applicationData?.primaryInsured?.gender === 'F'
                      "
                    >
                      Female</span
                    >
                    <span
                      *ngIf="
                        element?.applicationData?.insureds?.length > 0 &&
                        element?.applicationData?.insureds[0]?.gender === 'M'
                      "
                    >
                      Male</span
                    >
                    <span
                      *ngIf="
                        element?.applicationData?.insureds?.length > 0 &&
                        element?.applicationData?.insureds[0]?.gender === 'F'
                      "
                    >
                      Female</span
                    >
                  </div>
                </div>
              </ng-container>
              <!-- --health--  -->
              <ng-container *ngIf="element?.lob === 'Health'">
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.INSURED_NAME' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.DOB' | translate }}: </label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <ng-container *ngFor="let insuredPerson of element?.healthInsuranceDetails">
                    <div fxFlex="16" class="grid-item-inside">
                      <span>
                        {{ insuredPerson?.firstName }}
                        {{ insuredPerson?.lastName }}
                      </span>
                    </div>
                    <div fxFlex="16" class="grid-item-inside">
                      <span>{{ insuredPerson?.dob }}</span>
                    </div>
                  </ng-container>
                </div>
              </ng-container>

              <!-- --Motor--  -->
              <ng-container *ngIf="element?.lob === 'Motor'">
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.REGISTRATION_NO' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.REGISTRATION_DATE' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.NCB' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.MAKE/MODEL' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.ENGINE_NO' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.CHASSIS_NO' | translate }}: </label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicleInfo?.vehicleRegno }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span
                      >{{ element?.applicationData?.vehicleInfo?.vehicleRegistrationDate }}
                    </span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.prevInsurance?.prevNCB }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicleInfo?.modelName }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicleInfo?.engineNo }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicleInfo?.chassisNo }}</span>
                  </div>
                </div>
              </ng-container>

              <!-- --Payment Data--  -->

              <ng-container
                *ngIf="element['applicationData'] && element['applicationData']['paymentInfo']"
              >
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                  class="margin-top-10"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <strong>{{ 'component.PAYMENT_DATA' | translate }}</strong>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.PREMIUM_PAID' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.PAYMENT_DATE' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.MODE' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.INSTRUMENT_NUMBER' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.BANK_NAME' | translate }}: </label>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.BRANCH' | translate }}: </label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{
                      element?.applicationData?.paymentInfo?.amountCollected
                        | currency: 'INR':'symbol':'1.0-0'
                    }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.paymentInfo?.instrumentDate }} </span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span> {{ element?.applicationData?.paymentInfo?.paymentType }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.paymentInfo?.instrumentNo }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.paymentInfo?.bankName }}</span>
                  </div>
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.paymentInfo?.BranchName }}</span>
                  </div>
                </div>
                <!-- --IFSC --  -->
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <label>{{ 'component.IFSC_CODE' | translate }}: </label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayout.xs="column"
                  fxLayout.sm="column"
                  fxLayoutGap="10px"
                >
                  <div fxFlex="16" class="grid-item-inside">
                    <span>{{ element?.applicationData?.paymentInfo?.ifscCode }}</span>
                  </div>
                </div>
              </ng-container>

              <!-- --UW REASON-- -->
              <div
                flex
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutGap="10px"
                class="grid-item-inside"
                *ngIf="element?.applicationData?.uwReferalReasons"
              >
                <div fxFlex="16">
                  <strong>UW Reason</strong>
                </div>
              </div>

              <div
                flex
                fxLayout="row"
                fxLayout.xs="column"
                fxLayout.sm="column"
                fxLayoutGap="10px"
                *ngIf="element?.applicationData?.uwReferalReasons"
              >
                <div fxFlex="16" class="grid-item-inside">
                  <ul>
                    <li *ngFor="let reasson of element?.applicationData?.uwReferalReasons">
                      {{ reasson }}
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
                <div fxFlex="16" class="grid-item-inside">
                  <span>
                    {{ element?.applicationData?.primaryInsured?.firstName }}
                  </span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.proposer?.mobile }}</span>
                </div>
                <div fxFlex="16" class="grid-item-inside">
                  <span>{{ element?.applicationData?.proposer?.email }}</span>
                </div>
              </div> -->
            </div>
            <!-- --mobile view details-- -->
            <ng-container *ngIf="media.isActive('xs') || media.isActive('sm')">
              <!-- --Customer--  -->
              <div class="label-heading">
                <span
                  ><strong>{{ 'component.CUSTOMER' | translate }}</strong></span
                >
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="mobile-view-details">
                <div fxFlex="30" class="">
                  <label>{{ 'component.NAME' | translate }}</label>
                </div>

                <div fxFlex="30" class="">
                  <label>{{ 'component.MOBILE' | translate }}</label>
                </div>

                <div fxFlex="30" class="">
                  <label>{{ 'component.EMAIL' | translate }}</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="mobile-view-details">
                <div fxFlex="30" class="">
                  <span>{{ element?.customerName }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.proposer?.mobile }}</span>
                </div>

                <div fxFlex="30" class="wd-break">
                  <span>{{ element?.applicationData?.proposer?.email }}</span>
                </div>
              </div>
              <!-- --Policy Data--  -->

              <div class="label-heading">
                <span
                  ><strong>{{ 'component.POLICY_DATA' | translate }}</strong></span
                >
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <label>{{ 'component.POLICY_START_DATE' | translate }}: </label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.POLICY_END_DATE' | translate }}: </label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.NEXT_PREMIUM_DATE' | translate }}: </label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.policyStartDate }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.policyEndDate }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.policy?.nextPremiumDate }}</span>
                </div>
              </div>
              <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                <div fxFlex="30" class="">
                  <label>{{ 'component.LINE_OF_BUSINESS' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label *ngIf="element?.lob === 'Motor'">Insured Declared Value :</label>
                  <label *ngIf="element?.lob !== 'Motor'"
                    >{{ 'component.SUM_ASSURED' | translate }}:</label
                  >
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.PRODUCT_TYPE' | translate }}:</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.lob }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span *ngIf="element?.lob === 'Motor'">{{
                    element?.applicationData?.vehicleInfo?.idv | currency: 'INR':'symbol':'1.0-0'
                  }}</span>
                  <span *ngIf="element?.lob !== 'Motor'">{{
                    element?.applicationData?.sumInsured | currency: 'INR':'symbol':'1.0-0'
                  }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.productType }}</span>
                </div>
              </div>
              <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                <div fxFlex="30" class="">
                  <label>{{ 'component.BASE_PREMIUM' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.GST' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.PAYMENT_FREQUENCY' | translate }}:</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.basePremium }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.gst }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span *ngIf="element?.mode == 0">Single</span>
                </div>
              </div>
              <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                <div fxFlex="30" class="">
                  <label>{{ 'component.POLICY_TERM' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.PAYMENT_TERM' | translate }}:</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.pt }} Year(s)</span>
                </div>
                <div fxFlex="30" class="">
                  <span *ngIf="element?.ppt != 0">{{ element?.ppt }} Year(s)</span>
                  <span *ngIf="element?.ppt == 0">Single</span>
                </div>
              </div>
              <!-- --Life policy--  -->
              <ng-container *ngIf="element?.lob === 'Life'">
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.INSURED_NAME' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.DOB' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.GENDER' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span
                      >{{ element?.applicationData?.insured?.firstName }}
                      {{ element?.applicationData?.insured?.lastName }}</span
                    >
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.additionalData?.insuredDob }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.insured?.gender }}</span>
                  </div>
                </div>
              </ng-container>
              <!-- --Health policy--  -->
              <ng-container *ngIf="element?.lob === 'Health'">
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.INSURED_NAME' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.DOB' | translate }}:</label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayoutGap="5px"
                  *ngFor="let insuredPerson of element?.healthInsuranceDetails"
                >
                  <div fxFlex="30" class="">
                    <span>{{ insuredPerson?.firstName }} {{ insuredPerson?.lastName }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ insuredPerson?.dob }}</span>
                  </div>
                </div>
              </ng-container>
              <!-- --motor--  -->
              <ng-container *ngIf="element?.lob === 'Motor'">
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.REGISTRATION_NO' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.REGISTRATION_DATE' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.NCB' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicleInfo?.vehicleRegno }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{
                      element?.applicationData?.vehicleInfo?.vehicleRegistrationDate
                    }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.prevInsurance?.prevNCB }}</span>
                  </div>
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.MAKE/MODEL' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.ENGINE_NO' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.CHASSIS_NO' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicleInfo?.yom }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicleInfo?.engineNo }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicleInfo?.chassisNo }}</span>
                  </div>
                </div>
              </ng-container>
              <!-- --Payment Data--  -->
              <ng-container
                *ngIf="element['applicationData'] && element['applicationData']['paymentInfo']"
              >
                <div class="label-heading">
                  <span
                    ><strong>{{ 'component.PAYMENT_DATA' | translate }}</strong></span
                  >
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.PREMIUM_PAID' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.PAYMENT_DATE' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.MODE' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{
                      element?.applicationData?.paymentInfo?.amountCollected
                        | currency: 'INR':'symbol':'1.0-0'
                    }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.instrumentDate }} </span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.paymentType }}</span>
                  </div>
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.INSTRUMENT_NUMBER' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.BANK_NAME' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.BRANCH' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.instrumentNo }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.bankName }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.BranchName }}</span>
                  </div>
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.IFSC_CODE' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.ifscCode }}</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsToDisplay"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator
      [length]="uwSearchPoliciesCopy?.length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div class="error-message" *ngIf="loadingError">
    <span>Unable to Fetch Information, Please try after sometime..!</span>
  </div>
</div>
