.outer {
    background: red;
    margin: 10px;
    padding: 0 7px 0 7px;
    /* width: 400px; */
    border-radius: 10px;
}

.innerCard1 {
    display: block;
    padding: 10px;
    margin-bottom: 30px;
    text-align: justify;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    /* justify-content: center; */
    /* flex-wrap: revert; */
    flex-flow: nowrap;
    margin-top: 30px;

}

.heading{
  margin: 5px 0 0 15px;
}

.label-heading {
  margin-top: 10px;
  margin-bottom: 5px;
  /* padding-left: 5px; */
}

.font-size-20 {
  font-size: 20px;
  font-weight: 500;
}

.style-icon-policy {
  font-size: 30px !important;
  transform: translate(0px, 5px);
  color: #3f51b5;
}

.main {
    background: rgb(65, 181, 173);
    margin: 10px;
    padding: 0 7px 0 7px;
    margin-top: 50px;
    border-radius: 10px;
}

.generate-quote-btn {
    /* width: 10rem; */
    padding: 5px 15px;
    display: block;
    background: #03dac5;
    color: white;
    font-size: 18px;
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 25px;
}

.display-flex {
    display: flex;
  }

.margin-top {
    margin-top: 80px;
}

.full-width {
    width: 236px;
    
}


.add-user {
  display: block;
  text-align: right;
  padding: 5px 14px;
  margin-top: 10px;
  margin-left: 650px;
  

}

.form-master {
    text-align: left;
    margin-left: -647px;
}

.btn {
  padding: 6px 45px;
  font-size: 15px;
  border-radius: 5%;
  margin: 5px 10px;
  outline: none;
  color: white;
  background-color: #007d64;
  border: none;
  cursor: pointer;
  float: left;
 
}

.btn-submit {
  padding: 6px 45px;
  font-size: 15px;
  border-radius: 5%;
  margin: 5px 10px;
  outline: none;
  color: white;
  background: #03dac5;
  border: none;
  cursor: pointer;
  float: left;
}


.btn-submit:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0, 0.26);
}

.policy-question-radio-box {
    background-color: rgba(0, 0, 0, 0.04);
    color: #566266;
    padding: 8px 100px 8px 10px;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
    /* box-shadow: 0 2px 0 0 #c6cacc; */
    display: inline-flex;
    width: 41%;
    box-shadow: 0 0 0 1px #cac2d5;
  }
  

  .margin-left {
    margin-left: 10px;
  }

  .margin-top-12 {
        margin-top: -20px;
  }

  .margin-top-fields {
    margin-top: 30px;
  }
  
  .margin-top-radio {
    margin-top: 10px;

  }


.enable-disable {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }

  .add-user {
    display: block;
    text-align: right;
    padding: 5px 14px;
    margin-top: 10px;

  }
  .heading{
    margin: 5px 0 0 15px;
  }
  .btn-master {
    padding: 6px 45px;
    font-size: 15px;
    border-radius: 5%;
    margin: 5px 10px;
    outline: none;
    color: white;
    background-color: #007d64;
    border: none;
    cursor: pointer;
    float: left;
    margin-left: -400px;
    margin-top: -48px;
  }

  .cursor {
    cursor: pointer;

  }


.main-container {
    position: relative;
    background: white;
    height: 100%;
    width: 100%;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    height: 6rem;
  }
  
  .flex-container>div {
    color: black;
    width: 15%;
    margin: 10px;
    text-align: left;
  }
  
  .margin-left {
    margin-left: 10px;
  }
  
  .font-size-20 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .transform ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
  
  .transform ::ng-deep .mat-form-field-wrapper .mat-form-field-infix {
    width: fit-content !important;
  }
  
  .reset-button {
    margin-left: 8px;
    cursor: pointer;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  /* .transform{
    transform: translateY(10px);
  } */
  
  table {
    width: 100% !important;
    font-size: 14px;
    padding: 0px 10px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
  }
  
  .proposal_link {
    text-decoration: none;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .grid-container {
    display: grid;
    display: -ms-grid;
    grid-gap: 1px;
    /* padding: 10px; */
    font-size: 14px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 5px;
    font-size: 14px;
  }
  
  .box {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
  }
  
  .policy-vault-name {
    /* width: 12rem; */
    background-color: transparent;
    color: black;
    margin-left: 0;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
    /* transform: translate(0px, 5px); */
  }
  
  .complaints-register {
    width: 7rem;
    height: 25px;
    background-color: #673ab7;
    color: white;
    margin-left: 6rem;
    padding: 5px;
    text-align: center;
  }
  
  .open-complaint {
    width: 7rem;
    height: 25px;
    background-color: #673ab7;
    color: white;
    margin-left: 2rem;
    padding: 5px;
    text-align: center;
  }
  
  .close-complaint {
    width: 7rem;
    height: 25px;
    background-color: #673ab7;
    color: white;
    margin-left: 2rem;
    padding: 5px;
    text-align: center;
  }
  
  label {
    font-size: 14px;
    font-weight: 500;
    color: grey;
  }
  
  .grid-container-risk {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    padding: 5px;
  }
  
  .grid-item-inside {
    background-color: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px 10px;
    font-size: 14px;
    text-align: left;
  }
  
  .payment-data {
    height: 4rem;
    display: flex;
    grid-row: 3;
  }
  
  /* .col-inside{
        width: 33.3%;
    }
    .col-100{
      width: 100%;
    } */
  
  /* -- for mobile view fx-mobile  */
  
  .parent {
    /* width: 100%; */
    height: 3rem;
    margin: 5px 0;
  }
  
  .parent-search {
    height: 3rem;
    margin-bottom: 10px;
  }
  
  .child-one {
    margin-left: 5px;
  }
  
  .first-child {
    margin-left: 10px;
  }
  
  .mob-search {
    margin: 0px 10px;
  }
  
  .mob-search .mat-form-field {
    width: 100%;
  }
  
  .inforce-mobile-btn {
    height: 40px;
    width: 5rem;
  }
  
  .pending-mobile-btn {
    height: 40px;
    width: 5rem;
  }
  
  .inactive-mobile-btn {
    height: 40px;
    width: 5rem;
  }
  
  ::ng-deep .inforce-mobile-btn .mat-badge-content {
    background: green;
  }
  
  /* -----till here----  */
  
  .table-div {
    display: table-cell;
    vertical-align: middle;
  }
  
  .tool-bar {
    display: table;
    height: 6rem;
    width: 100%;
  }
  
  .search {
    min-width: 8+rem;
    float: right;
    max-width: 200px;
    width: 100%;
    margin-right: 30px;
    transform: translateY(42%)
  }
  
  .search .example-form {
    min-width: 8+rem;
    max-width: 500px;
    width: 100%;

  }
  
  .search .example-full-width {
    width: 100%;
  }
  
  th {
    text-align: center;
  }
  
  td.mat-cell {
    text-align: left;
    padding-left: 15px;
  }
  
  .search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .search-full-width {
    width: 100%;
  }
  
  ::ng-deep .mat-header-cell {
    text-align: center;
  }
  
  ::ng-deep .mat-table th {
    text-align: center;
  }
  
  .mat-table th {
    text-align: center;
  }
  
  th.mat-header-cell {
    text-align: center;
  }
  
  .center {
    text-align: center;
  }
  
  .padding-left {
    padding-left: 5px;
  }
  
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
  
  .margin-top-10 {
    margin-top: 10px;
  }
  
  .icon-style-yellow {
    font-size: 30px;
    color: #ffd740;
  }
  
  .icon-style-red {
    font-size: 30px;
    color: red;
  }
  
  .icon-style-green {
    font-size: 30px;
    color: green;
  }
  
  .style-icon-policy {
    font-size: 30px !important;
    transform: translate(0px, 5px);
    color: #3f51b5;
  }
  
  /* .open-complaint .mat-badge-content {
    background: #ffb300;
    color: white;
  }
  .close-complaint .mat-badge-content {
    background: tomato;
    color: white;
  } */
  
  ::ng-deep .inforce-btn .mat-badge-content {
    background: green;
  }
  
  .inforce-btn {
    /* margin-left: 15rem; */
    height: 40px;
    width: 7rem;
    cursor: auto;
  }
  
  .pending-btn {
    /* margin-left: 2rem; */
    height: 40px;
    width: 7rem;
    cursor: auto;
    margin-right: 40px;
    width: 220px;
  }
  
  .inactive-btn {
    /* margin-left: 2rem; */
    height: 40px;
    width: 7rem;
    cursor: auto;
  }
  
  .width-small {
    width: 0.6rem;
  }
  
  .width-small ::ng-deep .mat-sort-header-container {
    display: none;
  }
  
  .hide-col {
    display: none;
  }
  
  .label-heading {
    margin-top: 10px;
    margin-bottom: 5px;
    /* padding-left: 5px; */
  }
  
  .margin-5 {
    margin-top: 5px;
  }
  
  ::ng-deep .mat-stroked-button {
    border: 1px solid #00c3aa !important;
    border-radius: 0 !important;
    color: #00c3aa;
  }
  
  /* mat-progress-spinner {
    position: absolute;
    left: 40%;
    top: 280px;
  } */
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .filterDate ::ng-deep .mat-form-field-wrapper {
    width: fit-content !important;
    padding-bottom: 0;
  }
  
  .filterDate ::ng-deep .mat-form-field-underline {
    position: initial;
  }
  
  .filterDate ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(14 13 13 / 1%);
  }
  
  .helpIcon {
    cursor: pointer;
    position: relative
  }
  
  .helpIcon  .helpStatus{
    display: none;
  }
   .helpIcon:hover  .helpStatus {
  
    display: block;
    
  }
  
  .flexDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .helpDesc{
    font-size: 10px;
    display:flex;
    flex-direction: column;
    margin:1px;
    min-width: 200px;
    max-width: 250px;
  }
  .helpDesc label{
    color:#0089d0
  }
  
  .overflow-table{
    overflow: visible;
  }
  
  .helpStatus{
    z-index: 5;
    display: none;
    position: absolute;
    box-shadow: 0px 1px 7px 2px #d0ced2d4;
    background-color: white;
    border-radius: 5px;
    width: max-content;
    padding:2px;
    max-height: 250px;
    overflow:scroll;
  }

  .user-list-table {
    width: 100%;
}
  @media only screen and (max-width: 600px) {
  
    /* .grid-container-risk {
      display: grid;
      grid-template-columns: 16.6% 16.6% 16.6% ;
      padding: 5px;
    } */
    .padding-left {
      padding-left: 0;
    }
  
    /* table th.mat-header-cell{
      white-space: nowrap;
    } */
    .wd-break {
      word-break: break-all;
    }
  }