<div class="main-container">
  <div *ngIf="media.isActive('md') || media.isActive('lg')" class="flex-container">
    <div style="flex-basis: 20%">
      <span class="material-icons style-icon-policy"> restore_page </span
      ><span class="font-size-20">{{ 'component.MY_RENEWALS' | translate }}</span>
    </div>

    <!-- <div class="policy-vault-name box" color="primary">
            <span class="material-icons style-icon-policy" style="font-size:20px;">
                restore_page
            </span>{{'component.MY_RENEWALS'| translate }}
        </div> -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div style="flex-basis: 20%">
      <form class="transform example-form" [formGroup]="searchForm">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{ 'component.SEARCH' | translate }}</mat-label>
          <input matInput (keyup)="getSearchResults()" formControlName="searchField" />
          <mat-icon matSuffix color="primary">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>

  <!-- --mobile--  -->
  <ng-container *ngIf="media.isActive('xs') || media.isActive('sm')">
    <div flex fxLayout="row" fxLayoutGap="5px" class="parent">
      <div fxFlex="70" class="child-one">
        <span class="material-icons style-icon-policy"> restore_page </span
        ><span class="font-size-20">{{ 'component.MY_RENEWALS' | translate }}</span>
      </div>
    </div>
    <div flex fxLayout="row" fxLayoutGap="5px" class="parent-search">
      <div fxFlex="100" class="mob-search">
        <form class="example-form" [formGroup]="searchForm">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>{{ 'component.SEARCH' | translate }}</mat-label>
            <input matInput (keyup)="onSearchFieldChange()" formControlName="searchField" />
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>
  </ng-container>

  <!-- <mat-progress-spinner [diameter]="50" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-spinner> -->
  <div class="container-table">
    <table
      mat-table
      class="mat-elevation-z8"
      [dataSource]="policyApplicationDetailsArr"
      matSort
      (matSortChange)="sortData($event, false)"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
        <th
          class="center"
          [ngClass]="{ 'width-small': column === ' ' }"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header="{{ column }}"
          color="primary"
        >
          <span *ngIf="column === 'Insurer Name'">{{ 'component.INSURER_NAME' | translate }}</span>
          <span *ngIf="column === 'Product Name'">{{ 'component.PRODUCT_NAME' | translate }}</span>
          <span *ngIf="column === 'Policy Number'">{{
            'component.POLICY_NUMBER' | translate
          }}</span>
          <span *ngIf="column === 'Customer Name'">{{
            'component.CUSTOMER_NAME' | translate
          }}</span>
          <span *ngIf="column === 'Status'">{{ 'component.STATUS' | translate }}</span>
          <span *ngIf="column === 'Premium'">{{ 'component.PREMIUM' | translate }}</span>
          <span *ngIf="column === 'nextPremiumDueDate'">Next Premium Date</span>
          <span *ngIf="column === 'paymentFrequency'">Payment Frequency</span>
          <span *ngIf="column === 'Actions'">{{ 'component.ACTIONS' | translate }}</span>
        </th>

        <td mat-cell *matCellDef="let element">
          <span class="padding-left" *ngIf="column === ' ' && element?.status === 'PENDING'">
            <img src="../../assets/images/pending-24px.svg" />
            <!-- <i class="material-icons icon-style-yellow">pending</i> -->
          </span>
          <span class="padding-left" *ngIf="column === ' ' && element?.status === 'INFORCE'">
            <i class="material-icons icon-style-green">done_all</i>
          </span>
          <span
            class="padding-left"
            *ngIf="column === ' ' && element?.status !== 'PENDING' && element?.status !== 'INFORCE'"
          >
            <i class="material-icons icon-style-red">cancel</i>
          </span>
          <span class="padding-left" disabled="detailExpand" *ngIf="column === 'Actions'">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button *ngIf="user['userGroups'].includes('ADMIN')" mat-menu-item (click)="onNotifyPayment(element?.leadId)">
                <mat-icon class="material-icons">notifications</mat-icon>
                <span>Notify</span>
              </button>
              <!-- <button mat-menu-item >
                <mat-icon> payment </mat-icon>
                <span>Initiate Payment</span>
              </button> -->
            </mat-menu>

            <!-- <button mat-stroked-button title="Send Notification" mat-icon-button color="">
                            <mat-icon> notification_important </mat-icon>

                        </button> -->
          </span>

          <span class="padding-left" *ngIf="column === 'Insurer Name'">{{
            element['insurerName']
          }}</span>
          <span class="padding-left" *ngIf="column === 'Product Name'">{{
            element['productName']
          }}</span>
          <span class="padding-left" *ngIf="column === 'Policy Number'">{{
            element['policyNumber']
          }}</span>
          <span class="padding-left" *ngIf="column === 'Customer Name'">{{
            element['customerName']
          }}</span>
           <span class="padding-left" *ngIf="column === 'nextPremiumDueDate'">{{
            element['nextPremiumDueDate']
          }}</span> <span class="padding-left" *ngIf="column === 'paymentFrequency'">{{
            element['paymentFrequency']
          }}</span>
          <!-- nextPremiumDueDate -->
          <span class="padding-left" *ngIf="column === 'Status'">{{ element['status'] }}</span>
          <span class="padding-left" *ngIf="column === 'Premium'">{{
            element['premiumAmount'] | currency: 'INR'
          }}</span>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all displayedColumns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div
            class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          >
            <!-- <mat-grid-list cols="2" >
                            <mat-grid-tile>1</mat-grid-tile>
                            <mat-grid-tile>2</mat-grid-tile>
                            <mat-grid-tile>3</mat-grid-tile>
                          </mat-grid-list> -->

            <div
              *ngIf="media.isActive('lg') || media.isActive('md') || media.isActive('sm')"
              class="grid-container"
            >
              <div class="grid-item">
                <div class="grid-container-risk">
                  <div class="grid-item-inside margin-bottom-10">
                    <strong>{{ 'component.CUSTOMER' | translate }}</strong>
                  </div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.NAME' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.MOBILE' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.EMAIL' | translate }}:</label>
                  </div>

                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>

                  <div class="grid-item-inside">
                    <span> {{ element?.customerName }} </span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.proposer?.mobile }}</span>
                  </div>
                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.proposer?.email }}</span>
                  </div>
                </div>
              </div>
              <!-- Risk data  -->
              <div class="grid-item">
                <div class="grid-container-risk">
                  <div class="grid-item-inside margin-bottom-10">
                    <strong>{{ 'component.POLICY_DATA' | translate }}</strong>
                  </div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.POLICY_START_DATE' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.POLICY_END_DATE' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.NEXT_PREMIUM_DATE' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.LINE_OF_BUSINESS' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside">
                    <label *ngIf="element?.lob === 'Motor'">Insured Declared Value:</label>
                    <label *ngIf="element?.lob !== 'Motor'"
                      >{{ 'component.SUM_ASSURED' | translate }}:</label
                    >
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.PRODUCT_TYPE' | translate }}:</label>
                  </div>

                  <!-- Values -->
                  <div class="grid-item-inside">
                    <span>{{ element?.policyStartDate }}</span>
                  </div>
                  <div class="grid-item-inside">
                    <span>{{ element?.policyEndDate }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.policy?.nextPremiumDate }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.lob }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span *ngIf="element?.lob === 'Motor'">{{
                      element?.applicationData?.vehicleInfo?.idv | currency: 'INR':'symbol':'1.0-0'
                    }}</span>
                    <span *ngIf="element?.lob !== 'Motor'">{{
                      element?.applicationData?.sumInsured | currency: 'INR':'symbol':'1.0-0'
                    }}</span>
                  </div>
                  <div class="grid-item-inside">
                    <span>{{ element?.productType }}</span>
                  </div>

                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.PREMIUM' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.PAYMENT_FREQUENCY' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.POLICY_TERM' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.PAYMENT_TERM' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>

                  <div class="grid-item-inside">
                    <span>{{ element?.premiumAmount | currency: 'INR':'symbol':'1.0-0' }}</span>
                  </div>
                  <div class="grid-item-inside">
                    <span *ngIf="element?.mode == 0">Single</span>
                    <span *ngIf="element?.mode == 1">Annual</span>
                    <span *ngIf="element?.mode == 2">Half Yearly</span>
                    <span *ngIf="element?.mode == 4">Quarterly</span>
                    <span *ngIf="element?.mode == 12">Monthly</span>
                  </div>
                  <div class="grid-item-inside">
                    <span>{{ element?.pt }} Year(s)</span>
                  </div>
                  <div class="grid-item-inside">
                    <span *ngIf="element?.ppt != 0">{{ element?.ppt }} Year(s) </span
                    ><span *ngIf="element?.ppt == 0">Single</span>
                  </div>
                </div>

                <!-- life policy-->

                <div class="grid-container-risk" *ngIf="element?.lob === 'Life'">
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.INSURED_NAME' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.AGE' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.GENDER' | translate }}: </label>
                  </div>
                  <!-- <div class="grid-item-inside margin-top-10"><label></label></div>
                                    <div class="grid-item-inside margin-top-10"><label></label></div>
                                    <div class="grid-item-inside margin-top-10"><span> </span></div> -->

                  <div class="grid-item-inside">
                    <span>
                      {{ element?.applicationData?.insured?.firstName }}
                      {{ element?.applicationData?.insured?.lastName }}</span
                    >
                  </div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.insured?.age }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.insured?.gender }}</span>
                  </div>

                  <!-- <div class="grid-item-inside"><span>{{element?.pt}}</span></div>
                                    <div class="grid-item-inside"><span>{{element?.ppt}}</span></div> -->
                </div>

                <!-- Health Policy -->
                <div class="grid-container-risk" *ngIf="element?.lob === 'Health'">
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.INSURED_NAME' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.AGE' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.RELATIONSHIP' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside margin-top-10"><span> </span></div>
                  <div class="grid-item-inside margin-top-10"><span> </span></div>
                  <div class="grid-item-inside margin-top-10"><span> </span></div>

                  <!-- Values  -->
                  <ng-container *ngFor="let insuredPerson of element?.healthInsuranceDetails">
                    <div class="grid-item-inside">
                      <span>
                        {{ insuredPerson?.firstName }}
                        {{ insuredPerson?.lastName }}
                      </span>
                    </div>
                    <div class="grid-item-inside"><span> </span>{{ insuredPerson?.age }}</div>

                    <div class="grid-item-inside">
                      <span>{{ insuredPerson?.relationship }} </span>
                    </div>
                    <div class="grid-item-inside margin-top-10"><span> </span></div>
                    <div class="grid-item-inside margin-top-10"><span> </span></div>
                    <div class="grid-item-inside margin-top-10"><span> </span></div>
                  </ng-container>

                  <!-- Motor policy -->
                </div>
                <div class="grid-container-risk" *ngIf="element?.lob === 'Motor'">
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.REGISTRATION_NO' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.REGISTRATION_DATE' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.NCB' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.MAKE/MODEL' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.ENGINE_NO' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.CHASSIS_NO' | translate }}: </label>
                  </div>

                  <!-- Values  -->
                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicle?.vehicleRegno }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicle?.vehicleRegistrationDate }} </span>
                  </div>

                  <div class="grid-item-inside">
                    <span></span>{{ element?.applicationData?.vehicle?.currNcb }}
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicle?.yom }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicle?.engineNo }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.vehicle?.chassisNo }}</span>
                  </div>
                </div>
              </div>

              <!-- Payment Data  -->
              <div
                class="grid-item"
                *ngIf="element['applicationData'] && element['applicationData']['paymentInfo']"
              >
                <div class="grid-container-risk">
                  <div class="grid-item-inside margin-bottom-10">
                    <strong>{{ 'component.PAYMENT_DATA' | translate }}</strong>
                  </div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>
                  <div class="grid-item-inside"><label> </label></div>

                  <div class="grid-item-inside">
                    <label>{{ 'component.PREMIUM_PAID' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.PAYMENT_DATE' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.MODE' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.INSTRUMENT_NUMBER' | translate }}:</label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.BANK_NAME' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside">
                    <label>{{ 'component.BRANCH' | translate }}: </label>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{
                      element?.applicationData?.paymentInfo?.amountCollected
                        | currency: 'INR':'symbol':'1.0-0'
                    }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span>{{ element?.applicationData?.paymentInfo?.instrumentDate }} </span>
                  </div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.paymentInfo?.paymentType }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.paymentInfo?.instrumentNo }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.paymentInfo?.bankName }}</span>
                  </div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.paymentInfo?.BranchName }}</span>
                  </div>
                  <!-- New Line -->
                  <div class="grid-item-inside margin-top-10">
                    <label>{{ 'component.IFSC_CODE' | translate }}: </label>
                  </div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>
                  <div class="grid-item-inside margin-top-10"><label> </label></div>

                  <div class="grid-item-inside">
                    <span> {{ element?.applicationData?.paymentInfo?.ifscCode }}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- --mobile view details-- -->
            <ng-container *ngIf="media.isActive('xs')">
              <!-- --Customer--  -->
              <div class="label-heading">
                <span
                  ><strong>{{ 'component.CUSTOMER' | translate }}</strong></span
                >
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="mobile-view-details">
                <div fxFlex="30" class="">
                  <label>{{ 'component.NAME' | translate }}</label>
                </div>

                <div fxFlex="30" class="">
                  <label>{{ 'component.MOBILE' | translate }}</label>
                </div>

                <div fxFlex="30" class="">
                  <label>{{ 'component.EMAIL' | translate }}</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="mobile-view-details">
                <div fxFlex="30" class="">
                  <span>{{ element?.customerName }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.proposer?.mobile }}</span>
                </div>

                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.proposer?.email }}</span>
                </div>
              </div>
              <!-- --Policy Data--  -->

              <div class="label-heading">
                <span
                  ><strong>{{ 'component.POLICY_DATA' | translate }}</strong></span
                >
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <label>{{ 'component.POLICY_START_DATE' | translate }}: </label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.POLICY_END_DATE' | translate }}: </label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.NEXT_PREMIUM_DATE' | translate }}: </label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.policyStartDate }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.policyEndDate }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.applicationData?.policy?.nextPremiumDate }}</span>
                </div>
              </div>
              <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                <div fxFlex="30" class="">
                  <label>{{ 'component.LINE_OF_BUSINESS' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label *ngIf="element?.lob === 'Motor'">Insured Declared Value :</label>
                  <label *ngIf="element?.lob !== 'Motor'"
                    >{{ 'component.SUM_ASSURED' | translate }}:</label
                  >
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.PRODUCT_TYPE' | translate }}:</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.lob }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span *ngIf="element?.lob === 'Motor'">{{
                    element?.applicationData?.vehicleInfo?.idv | currency: 'INR':'symbol':'1.0-0'
                  }}</span>
                  <span *ngIf="element?.lob !== 'Motor'">{{
                    element?.applicationData?.sumInsured | currency: 'INR':'symbol':'1.0-0'
                  }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.productType }}</span>
                </div>
              </div>
              <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                <div fxFlex="30" class="">
                  <label>{{ 'component.PREMIUM' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.PAYMENT_FREQUENCY' | translate }}:</label>
                </div>
                <div fxFlex="30" class="">
                  <label>{{ 'component.POLICY_TERM' | translate }}:</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span>{{ element?.premiumAmount | currency: 'INR':'symbol':'1.0-0' }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.mode }}</span>
                </div>
                <div fxFlex="30" class="">
                  <span>{{ element?.pt }}</span>
                </div>
              </div>
              <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                <div fxFlex="30" class="">
                  <label>{{ 'component.PAYMENT_TERM' | translate }}:</label>
                </div>
              </div>
              <div flex fxLayout="row" fxLayoutGap="5px" class="">
                <div fxFlex="30" class="">
                  <span *ngIf="element?.ppt == 0">Single</span>
                  <span *ngIf="element?.ppt != 0">{{ element?.ppt }}</span>
                </div>
              </div>
              <!-- --Life policy--  -->
              <ng-container *ngIf="element?.lob === 'Life'">
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.INSURED_NAME' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.AGE' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.GENDER' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span
                      >{{ element?.applicationData?.insured?.firstName }}
                      {{ element?.applicationData?.insured?.lastName }}</span
                    >
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.insured?.age }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.insured?.gender }}</span>
                  </div>
                </div>
              </ng-container>

              <!-- --Health policy--  -->
              <ng-container *ngIf="element?.lob === 'Health'">
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.INSURED_NAME' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.AGE' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.RELATIONSHIP' | translate }}:</label>
                  </div>
                </div>
                <div
                  flex
                  fxLayout="row"
                  fxLayoutGap="5px"
                  *ngFor="let insuredPerson of element?.healthInsuranceDetails"
                >
                  <div fxFlex="30" class="">
                    <span>{{ insuredPerson?.firstName }} {{ insuredPerson?.lastName }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ insuredPerson?.age }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ insuredPerson?.relationship }}</span>
                  </div>
                </div>
              </ng-container>
              <!-- --motor--  -->
              <ng-container *ngIf="element?.lob === 'Motor'">
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.REGISTRATION_NO' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.REGISTRATION_DATE' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.NCB' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicle?.vehicleRegno }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicle?.vehicleRegistrationDate }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicle?.currNcb }}</span>
                  </div>
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.MAKE/MODEL' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.ENGINE_NO' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.CHASSIS_NO' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicle?.yom }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicle?.engineNo }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.vehicle?.chassisNo }}</span>
                  </div>
                </div>
              </ng-container>
              <!-- --Payment Data--  -->
              <ng-container
                *ngIf="element['applicationData'] && element['applicationData']['paymentInfo']"
              >
                <div class="label-heading">
                  <span
                    ><strong>{{ 'component.PAYMENT_DATA' | translate }}</strong></span
                  >
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.PREMIUM_PAID' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.PREMIUM_PAID' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.MODE' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.premiumPaid }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.premiumPaidDate }} </span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.paymentModeDesc }}</span>
                  </div>
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.INSTRUMENT_NUMBER' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.BANK_NAME' | translate }}:</label>
                  </div>
                  <div fxFlex="30" class="">
                    <label>{{ 'component.BRANCH' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.instrumentNo }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.bankName }}</span>
                  </div>
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.BranchName }}</span>
                  </div>
                </div>
                <div flex fxLayout="row" class="margin-5" fxLayoutGap="5px">
                  <div fxFlex="30" class="">
                    <label>{{ 'component.IFSC_CODE' | translate }}:</label>
                  </div>
                </div>
                <div flex fxLayout="row" fxLayoutGap="5px" class="">
                  <div fxFlex="30" class="">
                    <span>{{ element?.applicationData?.paymentInfo?.ifscCode }}</span>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
      >
    </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <!-- <mat-paginator
      [length]="policyApplicationSearchCopy?.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    >
    </mat-paginator> -->

    <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)">
  </mat-paginator>
  </div>
</div>
