<div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
    <div fxFlex="70" class="block-conatiner">
        <form [formGroup]="">
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="margin-bottom-row">
                <div fxFlex="100" class="center-label">
                    <label class="label-question">Where do you live ?</label>
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="margin-bottom-row">
                <div fxFlex="100" class="center-label">
                    <img class="margin-right" src="../../../../assets/quote-images/reference-image.svg">
                    <img class="margin-left" src="../../../../assets/quote-images/female.svg">
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="margin-bottom-row">
                <div fxFlex="100" class="center-label">
                    <label class="label-question">Pincode</label>
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="margin-bottom-row">
                <div fxFlex="100" class="center-label address">
                    <mat-form-field class="input-width" appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input matInput placeholder="560085">
                        <mat-icon matSuffix>home</mat-icon>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="margin-bottom-row">
                <div fxFlex="100" class="center-label">
                    <label class="label-question">Where can we reach you ?</label>
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="margin-bottom-row">
                <div fxFlex="100" class="center-label address">
                    <mat-form-field class="input-width" appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="999...">
                        <mat-icon matSuffix>phone</mat-icon>
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.xs="" fxLayout.sm="" fxLayoutGap="10px" class="next-btn-row ">

                <div fxFlex="100" class="center-label">
                    <button mat-raised-button class="next-btn">Next</button>
                </div>
            </div>

        </form>
    </div>
</div>