<mat-card>
  <mat-card-header>
    <mat-card-title color="accent">
      <h2>Login</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content color="primary">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="username" class="form-control"
            (copy)="returnFalse($event)" (cut)="returnFalse($event)"  autocomplete="off" (keypress)="omitSpecialChar($event)"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        </mat-form-field>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input #password matInput type="password" (cut)="returnFalse($event)"
            placeholder="Password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <img *ngIf="!isPasswordVisible" (click)="togglePassword(true)" class="show-psw"
            src="../../assets/icons/eye.svg" />
          <img *ngIf="isPasswordVisible" (click)="togglePassword(false)" class="show-psw"
            src="../../assets/icons/eye-off.svg" />
          <!-- <mat-icon class="show-psw">remove_red_eye</mat-icon> -->
        </mat-form-field>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>

      <!-- <alert></alert> -->
      <p *ngIf="loginError" class="error-message">
        <mat-icon>warning</mat-icon>
        {{ errorMessage }}
      </p>
      <div class="action">
        <button
          mat-raised-button
          [disabled]="!form.valid"
          type="submit"
          class="login-btn"
          color="primary"
        >
          Login
        </button>
        <!-- Comment below Forgot password btn Code for KBL -->
        <button mat-stroked-button type="button" (click)="forgotPassword()" class="link" color="primary">
          Forgot Password
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>