<div class="center" [formGroup]="leadGroup">
  <h2>Please select Below options to proceed further</h2>

  <div>
    <mat-form-field>
      <mat-label>Select the LOB</mat-label>
      <mat-select formControlName="lobType">
        <mat-option value="Life" *ngIf="!isLicenseTypeGeneral">Life</mat-option>
        <mat-option value="nonLife">Non-Life</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Select the Journey</mat-label>
      <mat-select formControlName="journeyType">
        <mat-option value="1">Physical</mat-option>
        <mat-option value="2">Digital</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button class="teal" [disabled]="!this.leadGroup.valid" (click)="onSubmit()">
      Submit
    </button>
  </div>
  <!-- <button mat-raised-button class="green" (click)="leadJourney(2)">Digital Journey</button> -->
</div>

<!-- <mat-select formControlName="filterByBank" (selectionChange)="onSearchFieldChange()">
  <mat-option value="">Select</mat-option>
  <mat-option *ngFor="let insurer of banksForFilter" [value]="insurer.id">
    {{ insurer.value }}
  </mat-option>
</mat-select> -->
