<form [formGroup]="otpFormGroup">
  <div flex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
    <div class="align-center" fxFlex="100">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Please enter your OTP<span class="man-field">*</span></mat-label>
        <input matInput type="tel" formControlName="otp" />
      </mat-form-field>
      <p>
        The information provided by me in this document is True to the best of my knowledge. By
        Providing the OTP, I acknowledge the Terms and Conditions of the Policy.
      </p>
    </div>
  </div>
  <div flex fxLayout="row" fxLayoutAlign="center center"  fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
    <div class="button-style" fxFlex="80">
      <button (click)="onSubmitClicked()" mat-raised-button class="submit-btn">Submit</button>
      <button (click)="onCancelClicked()" mat-raised-button class="cancel-btn">Cancel</button>
      <!-- <button
          (click)="onResendOTPClicked()"
          mat-raised-button
          class="submit-btn"
          [disabled]="resendCounter > 0"
        >
          Resend OTP <span *ngIf="resendCounter > 0">({{ resendCounter }})</span>
        </button> -->
    </div>
  </div>
</form>
