<div class="error-container">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="rows-edit-col">
        <div fxFlex="100" class="bad-news-heading"><label>Bad News</label></div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="rows-edit-col">
        <div fxFlex="100" class="bad-news-subheading"><label>The page is looking for could not be found.</label></div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="form-row-gap-bottom "
        fxFlexFill fxLayoutAlign="center center">
        <div fxFlex="20" fxFlex.sm="100"></div>

        <div fxFlex="50" fxFlex.sm="100">
            <img class="error-img" src="../../../assets/images/8iA6aRLaT.png" alt="Child Plan">
        </div>

        <div fxFlex="20" fxFlex.sm="100">
            <div class="not-found"> <label>404</label></div>
            <div class="pagenot-found"> <label>Page Not Found</label></div>
        </div>
        <div fxFlex="10"></div>
    </div>

</div>