<mat-card>
  <mat-card-header>
    <mat-card-title color="accent">
      <h2>Change Password</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content color="primary">

    <form [formGroup]="form">

      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input #oldpassword matInput type="password" placeholder="Old Password" formControlName="oldPassword"
            class="form-control" />
            <img *ngIf="!isOldPasswordVisible" (click)="togglePassword(true,'OldPassword')" class="show-psw"
            src="../../assets/icons/eye.svg" />
          <img *ngIf="isOldPasswordVisible" (click)="togglePassword(false,'OldPassword')" class="show-psw"
            src="../../assets/icons/eye-off.svg" />
        </mat-form-field>
        <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
          <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input #newpassword matInput type="password" placeholder="New Password" maxlength="20" formControlName="newPassword"
            class="form-control" />
            <img *ngIf="!isNewPasswordVisible" (click)="togglePassword(true,'NewPassword')" class="show-psw"
            src="../../assets/icons/eye.svg" />
          <img *ngIf="isNewPasswordVisible" (click)="togglePassword(false,'NewPassword')" class="show-psw"
            src="../../assets/icons/eye-off.svg" />
        </mat-form-field>
        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">New Password is required</div>
          <div *ngIf="f.newPassword.errors.pattern">New Password must have atleast 8 characters 1 lowercase 1 upper case
            1 number and 1 special characters</div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="full-width-input">
          <input #confirmpassword matInput type="password" placeholder="Confirm Password" formControlName="matchingPassword"
            class="form-control" />
            <img *ngIf="!isConfirmPasswordVisible" (click)="togglePassword(true,'ConfirmPassword')" class="show-psw"
            src="../../assets/icons/eye.svg" />
          <img *ngIf="isConfirmPasswordVisible" (click)="togglePassword(false,'ConfirmPassword')" class="show-psw"
            src="../../assets/icons/eye-off.svg" />
        </mat-form-field>
        <div *ngIf="submitted && f.matchingPassword.errors" class="invalid-feedback">
          <div *ngIf="f.matchingPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.matchingPassword.errors.mustMatch">New Password and Confirm Password must be match</div>
        </div>
      </div>
      <alert></alert>
      <div class="flex">
        <button mat-raised-button type="button" (click)="cancel()" class="back-to-login-btn">Cancel</button>
        <button mat-raised-button type="submit" (click)="onSubmit()" class="login-btn" color="primary">Submit</button>
      </div>

    </form>

  </mat-card-content>

</mat-card>