<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="rows-edit-col">
    <div fxFlex="100" class="finish-editing-heading"><label>Finished Editing?</label></div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="rows-edit-col">
    <div fxFlex="100"><label>To view your new results, select Update Results</label></div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="margin-bottom">
    <div fxFlex="100"></div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px" class="rows-edit-col">
    <div fxFlex="50"><button mat-raised-button class="update-btn">Update Results</button>
    </div>
    <div fxFlex="50"><button mat-raised-button mat-dialog-close class="cancel-btn" >Cancel</button>
    </div>
</div>