<div *ngIf="state==='age'" class="age">
  <form [formGroup]="form">
    <div class="lg-screen ">
      <div><label>I am</label>
        <span>
          <mat-slider (input)="onKeyUp($event)" formControlName="ageValue" required thumbLabel
            [displayWith]="formatLabel" min="18" max="100"></mat-slider>
        </span><label> years old</label>
      </div>
      <mat-error class="error-msg" *ngIf="form.get('ageValue').hasError('min') || form.get('ageValue').hasError('max')"
        class="error-msg">Age
        should be between 18 to 100</mat-error>
      <mat-error class="error-msg" *ngIf="form.get('ageValue').dirty && form.get('ageValue').hasError('required')"
        class="error-msg">Age is
        required</mat-error>
    </div>

    <!-- <div class="sm-screen ">
      <div>I am
        <span>
          <mat-slider (input)="onKeyUp($event)"  formControlName="ageValue" required thumbLabel [displayWith]="formatLabel"
          min="18" max="100"></mat-slider>
         
        </span> years old
      </div>
      <mat-error *ngIf="form.get('ageValue').hasError('min') || form.get('ageValue').hasError('max')" class="error-msg">Age
        should be between 18 to 100</mat-error>
      <mat-error *ngIf="form.get('ageValue').dirty && form.get('ageValue').hasError('required')" class="error-msg">Age is
        required</mat-error>
    </div> -->

  </form>

</div>