
.frame-wrapper {
    margin:20px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.625em 1.25em;
    box-sizing: border-box;
    gap: 1.125em;
    text-align: left;
    color: #000;
    font-family: Inter;
  }

  .close-button{
    position: absolute;
    top: 1px;
    right: 2px;
    border: 1px solid red;
    background: crimson;
    padding: 1px;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px;
    color: white;
  }


  .discount1,
.new-ncb-discount1 {
  flex: 1;
  position: relative;
  font-size: 1.5em;
}
.discount-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.438em;
}

@media screen and (min-width:750px){
     .frame-wrapper {
      display: none;
      padding:0;
      margin:0;
    }
}