<!-- @@include('../components/sidebar.html') @@include('../components/header.html') -->
<div class="landing">
  <div class="pt-20 pr-30 pb-30 pl-30">
    <div class="intro-text mb-20 full-width">Welcome Back <span>Rakesh</span></div>
    <div class="page-section mb-20">
      <!-- <div class="round-box">@@include('../components/target-box.html', {"title": "Leads"})</div> -->
    </div>
    <div class="page-section mb-20">
      <div class="grid-row">
        <div class="grid-col">
          <div class="round-box full-height">
            <div class="header">
              <div class="title">Work in Progress</div>
              <div class="noti-count red">3</div>
            </div>
            <div class="box-content">
              <div class="content-panel mb-20">
                <div class="panel-header">
                  <div class="panel-icon">
                    <img src="/assets/img/icon-circle-tick.png" alt="" />
                  </div>
                  <div class="panel-title">
                    <div class="title">Quote : 22879509256</div>
                    <div class="description">Last edited 2 days ago</div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-item">
                    <div class="item-label">Customer</div>
                    <div class="item-value">Sunil Kulkarni</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insures Sum</div>
                    <div class="item-value">₹ --</div>
                  </div>
                </div>
              </div>
              <div class="content-panel mb-20">
                <div class="panel-header">
                  <div class="panel-icon">
                    <img src="/assets/img/icon-doc.png" alt="" />
                  </div>
                  <div class="panel-title">
                    <div class="title">Quote : 22879509256</div>
                    <div class="description">Last edited 2 days ago</div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-item">
                    <div class="item-label">Customer</div>
                    <div class="item-value">Sunil Kulkarni</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insures Sum</div>
                    <div class="item-value">₹ --</div>
                  </div>
                </div>
              </div>
              <div class="content-panel mb-10">
                <div class="panel-header">
                  <div class="panel-icon">
                    <img src="/assets/img/icon-doller-ok.png" alt="" />
                  </div>
                  <div class="panel-title">
                    <div class="title">Quote : 22879509256</div>
                    <div class="description">Last edited 2 days ago</div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-item">
                    <div class="item-label">Customer</div>
                    <div class="item-value">Sunil Kulkarni</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insures Sum</div>
                    <div class="item-value">₹ 496,199.00</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Policy type</div>
                    <div class="item-value">Home Insurance</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insurer</div>
                    <div class="item-value">Future Generali</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="column-fixed-footer full-width text-center">
              <div class="btn-view-all">View All</div>
            </div>
          </div>
        </div>
        <div class="grid-col">
          <div class="round-box full-height">
            <div class="header">
              <div class="title">Pending Requests</div>
              <div class="noti-count yellow">1</div>
            </div>
            <div class="box-content">
              <div class="content-panel mb-20">
                <div class="panel-header">
                  <div class="panel-icon">
                    <img src="/assets/img/icon-doller-up.png" alt="" />
                  </div>
                  <div class="panel-title">
                    <div class="title">Payment Initiation</div>
                    <div class="description">Last edited 2 days ago</div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-item">
                    <div class="item-label">Customer</div>
                    <div class="item-value">Sunil Kulkarni</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insures Sum</div>
                    <div class="item-value">₹ 496,199.00</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Policy type</div>
                    <div class="item-value">Home Insurance</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insurer</div>
                    <div class="item-value">Future Generali</div>
                  </div>
                </div>
              </div>

              <div class="content-panel mb-20">
                <div class="panel-header">
                  <div class="panel-icon">
                    <img src="/assets/img/icon-doller-up.png" alt="" />
                  </div>
                  <div class="panel-title">
                    <div class="title">Payment Initiation</div>
                    <div class="description">Last edited 2 days ago</div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-item">
                    <div class="item-label">Customer</div>
                    <div class="item-value">Sunil Kulkarni</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insures Sum</div>
                    <div class="item-value">₹ 496,199.00</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Policy type</div>
                    <div class="item-value">Home Insurance</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insurer</div>
                    <div class="item-value">Future Generali</div>
                  </div>
                </div>
              </div>

              <div class="content-panel mb-20">
                <div class="panel-header">
                  <div class="panel-icon">
                    <img src="/assets/img/icon-doller-up.png" alt="" />
                  </div>
                  <div class="panel-title">
                    <div class="title">Payment Initiation</div>
                    <div class="description">Last edited 2 days ago</div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-item">
                    <div class="item-label">Customer</div>
                    <div class="item-value">Sunil Kulkarni</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insures Sum</div>
                    <div class="item-value">₹ 496,199.00</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Policy type</div>
                    <div class="item-value">Home Insurance</div>
                  </div>
                  <div class="panel-item">
                    <div class="item-label">Insurer</div>
                    <div class="item-value">Future Generali</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column-fixed-footer full-width text-center">
              <div class="btn-view-all">View All</div>
            </div>
          </div>
        </div>
        <div class="grid-col">
          <div class="round-box full-height">
            <div class="header">
              <div class="title">Search customers</div>
            </div>
            <div class="box-content">
              <!-- @@include('../components/search-customer.html', {"disabled": ""}) -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-section">
      <div class="round-box">
        <div class="header">
          <div class="title">Leaderboard</div>
          <div class="month-picker" onClick="App.toggleClass(event, 'open')">
            <div class="month-picker-button">
              August 2021
              <img src="/assets/img/icon-caret-down-primary.png" />
            </div>

            <div class="month-picker-calendar">
              <div class="cal-title">Select Month</div>
              <div class="cal-actions">
                <div class="left">
                  <img src="/assets/img/icon-caret-left-black.png" />
                </div>
                <div class="center">2017</div>
                <div class="right">
                  <img src="/assets/img/icon-caret-left-black.png" />
                </div>
              </div>
              <div class="months">
                <div class="month">Jan</div>
                <div class="month">Feb</div>
                <div class="month">Mar</div>
                <div class="month">Apr</div>
                <div class="month">May</div>
                <div class="month selected">Jun</div>
                <div class="month">Jul</div>
                <div class="month">Aug</div>
                <div class="month">Sep</div>
                <div class="month disabled">Oct</div>
                <div class="month disabled">Nov</div>
                <div class="month disabled">Dec</div>
              </div>
              <div class="cal-footer">
                <div class="right">
                  <div class="action-cancel">Cancel</div>
                  <div class="action-apply">Apply</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-10 pr-10">
          <div class="grid-row-2-1">
            <div class="grid-col">
              <div class="content-panel filled mb-20">
                <div class="panel-header">
                  You are in the <strong>top 20%</strong> in lead generation
                </div>
                <div class="panel-body">
                  <img src="/assets/img/graph1.png" class="p-20" />
                </div>
              </div>
            </div>
            <div class="grid-col">
              <div class="content-panel filled mb-20">
                <div class="panel-header">You and Top 2 based on lead generation</div>
                <div class="panel-body">
                  <img src="/assets/img/graph2.png" class="p-20" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chat-opener hide-mobile" onclick="App.toggleTargetClass('chat-wrapper','show-buttons')">
  <div class="chat-wrapper">
    <img src="/assets/img/icon-chat.png" alt="" />
    <div class="chat-button call" onclick="App.addClass('callbox','show-chatbox')">P</div>
    <div class="chat-button email" onclick="App.addClass('emailbox','show-chatbox')">E</div>
    <div class="chat-button chat" onclick="App.addClass('chatbox','show-chatbox')">C</div>
  </div>
</div>
<div class="chat-box chatbox">
  <div class="header p-10">
    <div class="close-btn" onclick="App.removeClass('chatbox','show-chatbox')">
      <img src="../../assets/img/icon-close.png" />
    </div>
    <span>Chat Box</span>
  </div>
  <div class="body"></div>
</div>
<div class="chat-box emailbox">
  <div class="header p-10">
    <div class="close-btn" onclick="App.removeClass('emailbox','show-chatbox')">
      <img src="../../assets/img/icon-close.png" />
    </div>
    <span>Email Assistance</span>
  </div>
  <div class="body p-10">
    <form class="form">
      <section class="mt-20 row">
        <div class="form-group col-12">
          <label>Your Email ID*</label>
          <input
            class="form-control form-sm"
            type="text"
            value=""
            placeholder="email@example.com"
          />
        </div>
        <div class="form-group col-12">
          <label>Subject*</label>
          <input class="form-control form-sm" type="text" value="" placeholder="Subject" />
        </div>
        <div class="form-group col-12">
          <label>Message*</label>
          <input class="form-control form-sm" type="text" value="" placeholder="Message" />
        </div>
      </section>
    </form>
    <div class="btn mb-10">Submit</div>
  </div>
</div>
<div class="chat-box callbox">
  <div class="header p-10">
    <div class="close-btn" onclick="App.removeClass('callbox','show-chatbox')">
      <img src="../../assets/img/icon-close.png" />
    </div>
    <span>Call Assistance</span>
  </div>
  <div class="body p-10">
    <p class="mb-10">Hello!</p>
    <p class="mb-15">
      Talk to our Customer Experience Manager and get your queries solved in real time.
    </p>
    <a
      ><p>Call us on: <br />+91 22 6191 5757</p></a
    >
    <p class="mt-15">Have a nice day!</p>
  </div>
</div>
