<div mat-dialog-content>
    <div class="consent-form" *ngIf="data?.insurerCode !== 130 || data?.insurerCode !== 151">
        <p class="terms-headding">Declaration & Authorization*:
        <p></p>
        <p>I understand that the information provided by me will form the basis of the insurance policy, is subject to
            the
            Board approved underwriting policy of the insurance company and that the policy will come into force only
            after
            full receipt of the premium chargeable.</p>

        <p>I / We further declare that I / We will notify in writing any change occurring in the occupation or general
            health of the life to be insured / proposer after the proposal has been submitted but before communication
            of
            the risk acceptance by the company.</p>


        <p>I / We declare and consent to the company seeking medical information from any doctor or from a hospital who
            at
            any time has attended on the life to be insured/ proposer or from any past or present employer concerning
            anything which affects the physical or mental health of the life to be assured / proposer and seeking
            information from any insurance company to which an application for insurance on the life to be assured /
            proposer has been made for the purpose of underwriting the proposal and / or claim settlement.</p>


        <p>I / We authorize the company to share information pertaining to my proposal including the medical records
            for
            the sole purpose of proposal underwriting and / or claims settlement and with any Governmental and / or
            Regulatory authority.</p>

        <p>I/ We have read and understood the brochure, prospectus, sales literature, terms and conditions of the
            Policy,
            Optional Extensions and confirm to abide by the same.</p>


        <p>Receipt of proposal form by the Company shall not be construed as acceptance of proposal. Commencement of
            risk
            under the Policy shall be subject to realization of full premium and acceptance by the Company. The Company
            at
            its sole discretion reserves the right to accept or reject or load any proposal. Policy would start from the
            date as specified in the Policy Certificate.</p>

        <p>I understand that the Policy Period Start Date as specified in the Policy Certificate shall be from the
            00:00
            hrs of the next day of the Proposal receipt at branch, proposed policy period start date as opted by me or
            cheque date, whichever is later.</p>

        <p>I/we hereby declare that the lives proposed to be insured would submit to medical examinations before the
            nominated doctors of the Company, or undergo diagnostic or other medical tests, as suggested by the company
            for
            its underwriting wherever applicable.</p>

        <p>I/we authorize the Company to use and disclose any personal information collected or available with the
            Company
            in relation to the persons to be insured (whether obtained with this Proposal or otherwise) to other
            underwriting companies, claim investigation companies/ agencies, service provider, assistance company/ any
            statutory body and insurance/ re-insurance companies for the purpose of processing of this proposal and
            providing subsequent services.</p>


        <p>I consent to provide a valid age proof and identity proof at the time of claims or any other time when
            required
            by the Company.</p>

        <p>I/we understand that the Policy shall become void at the option of the Company, in the event of any untrue
            or
            incorrect statement, misrepresentation, non-description or non-disclosure of any material fact in the
            Proposal
            form/personal statement, declaration and connected documents, or any material information having been
            withheld
            by me/us or anyone acting on my/our behalf.</p>

        <p>I/We consent to receive information from the Company through physical documents or electronic or
            telecommunication means from time to time.</p>

        <p>Bonafide Source of funds for payment.</p>


        <p> I/we hereby confirm that all premiums have been/will be paid from bonafide sources and no premiums have
            been/will be paid out of proceeds of crime related to any of the offence listed in Prevention of Money
            Laundering Act, 2002 and applicable laws. </p>


        <p>I understand that the Company has the right to call for documents to establish sources of funds.</p>

        <p>The insurance company has right to cancel the insurance contract in case I am/ have been found guilty by any
            competent court of law under any of the statutes, directly or indirectly governing the prevention of money
            laundering in India.</p>

        <p>I/We further declare, on my behalf and on behalf of each of the persons proposed to be insured that there is
            all
            information which is relevant to this proposal that has been disclosed and not withheld from the Company. I
            further declare and agree that this declaration and the answers given above shall be held to be promissory
            and
            shall be the basis of the contract between me/us and the Company.</p>

        <p>I / We hereby declare, on my behalf and on behalf of all persons proposed to be insured, that the above
            statements, answers and / or particulars given by me are true and complete in all respects to the best of my
            knowledge and that I / We am / are authorized to propose on behalf of these other persons.</p>


        <p class="terms-headding">Declaration:</p>
        <p>I hereby confirm that all premiums have been/will be paid from genuine sources and no premiums have
            been/will be
            paid out of proceeds of crime related to any of the scheduled offences listed in Prevention of Money
            Laundering
            Act, 2002. I understand that the Company has the right to call for documents to establish sources of funds.
            The
            insurance company has right to cancel the insurance contract in case I am/ have been found guilty by any
            competent court of law under any of the statutes, directly or indirectly governing the prevention of money
            laundering in India.</p>
    </div>
    <div class="consent-form" *ngIf="data?.insurerCode === 130">
        <p class="terms-headding">Declaration of Enrolment:

        <p class="conditions-list-style">I/We, declare and warrant that this statement is correct, complete and
            true. I understand and agree that this
            statement together with the application for insurance on my life and any
            other documents relative thereto, shall be the basis of the proposed Coverage. I am aware that the
            withholding
            of, or omission or failure to disclose, any medical or financial
            information will invalidate my insurance Coverage in accordance with Section 45 of the Insurance Act
            1938 as
            amended from time to time.</p>
        <p class="conditions-list-style">I/We, agree to inform the Company in writing of any change in my health
            and circumstances between the date of
            this Declaration and the issue of the Certificate of Insurance in
            respect of my life insurance Coverage. I irrevocably authorize and request any entity like a
            doctor/hospital who
            may be in possession of, or hereafter acquire, any information
            concerning my health, to disclose such information to Bharti AXA Life Insurance and I agree that this
            authority
            and request shall remain in force.</p>
        <p class="conditions-list-style">&quot;I/We, hereby apply to be a Life Insured/(S) under the Bharti AXA
            Life Group Loan Protect issued to
            Karnataka Bank Limited.</p>
        <p class="conditions-list-style">I/We, am/are aware that the purchase of insurance is totally optional, has
            no bearing on the loan decision and is
            at my/our sole discretion, And, I/We, agree
            to pay the premium myself/ourselves via Cheque No./DD or Add the above premium to the loan amount.</p>
        <p class="conditions-list-style">I/We, have read and understood the terms and conditions of the product as
            detailed in the product brochure and
            the same has been explained by the representative
            of Karnataka Bank Ltd. in the language understood by me/us. I have applied for a Life coverage under
            this
            product and understand that the Company
            reserves its right to reduce the actual coverage depending upon the extent of Total Loan Disbursed.
            I can understand, read and write English language and confirm that all the above details filled above
            and herein
            are true and nothing has been concealed by me.</p>
        <p class="terms-headding">As per Section 41 of the Insurance Act, 1938 (as amended from time to time)</p>
        <p class="conditions-list-style">“(1) No person shall allow or offer to allow, either directly or
            indirectly, as an inducement to any person to take
            out or renew or continue an insurance in respect of any kind of risk relating
            to lives or property in India, any rebate of the whole or part of the commission payable or any rebate
            of the
            premium shown on the policy, nor shall any person taking out or renewing or
            continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the
            published
            prospectuses or tables of the insurer:
            (2) Any person making default in complying with the provisions of this section shall be liable for a
            penalty which
            may extend to ten lakh rupees.</p>

        <p class="terms-headding">Section 45 of Insurance Act, 1938 (as amended from time to time)</p>
        <p class="conditions-list-style">Fraud/ Misstatement would be dealt with in accordance with provisions of
            Sec 45 of the Insurance Act 1938 as
            amended from time to time. [A simplified version of the provisions of
            Section 45 is mentioned below for reference]
            Provisions regarding policy not being called into question in terms of Section 45 of the Insurance Act,
            1938, as
            amended from time to time</p>
        <p class="conditions-list-style">01. No Policy of Life Insurance shall be called in question on any ground
            whatsoever after expiry of 3 yrs from
            a. the date of issuance of policy or
            b. the date of commencement of risk or
            c. the date of revival of policy or
            d. the date of rider to the policy
            whichever is later.</p>
        <p class="conditions-list-style">02. On the ground of fraud, a policy of Life Insurance may be called in
            question within 3 years from
            a. the date of issuance of policy or
            b. the date of commencement of risk or
            c. the date of revival of policy or
            d. the date of rider to the policy
            whichever is later.
            For this, the insurer should communicate in writing to the insured or legal representative or nominee or
            assignees
            of insured, as applicable, mentioning the ground and materials
            on which such decision is based.</p>
        <p class="conditions-list-style">03. Fraud means any of the following acts committed by insured or by his
            agent, with the intent to deceive the
            insurer or to induce the insurer to issue a life insurance policy:
            a. The suggestion, as a fact of that which is not true and which the insured does not believe to be
            true;
            b. The active concealment of a fact by the insured having knowledge or belief of the fact;
            c. Any other act fitted to deceive; and
            d. Any such act or omission as the law specifically declares to be fraudulent.</p>
        <p class="conditions-list-style">04. Mere silence is not fraud unless, depending on circumstances of the
            case, it is the duty of the insured or his
            agent keeping silence to speak or silence is in itself equivalent to speak.</p>
        <p class="conditions-list-style">05. No Insurer shall repudiate a life insurance Policy on the ground of
            Fraud, if the Insured / beneficiary can
            prove that the misstatement was true to the best of his knowledge and there
            was no deliberate intention to suppress the fact or that such mis-statement of or suppression of
            material fact are
            within the knowledge of the insurer. Onus of disproving is upon the
            policyholder, if alive, or beneficiaries.</p>
        <p class="conditions-list-style">06. Life insurance Policy can be called in question within 3 years on the
            ground that any statement of or
            suppression of a fact material to expectancy of life of the insured was incorrectly
            made in the proposal or other document basis which policy was issued or revived or rider issued. For
            this, the
            insurer should communicate in writing to the insured or legal
            representative or nominee or assignees of insured, as applicable, mentioning the ground and materials on
            which
            decision to repudiate the policy of life insurance is based.</p>
        <p class="conditions-list-style">07. In case repudiation is on ground of mis-statement and not on fraud,
            the premium collected on policy till the
            date of repudiation shall be paid to the insured or legal representative or
            nominee or assignees of insured, within a period of 90 days from the date of repudiation.</p>
        <p class="conditions-list-style">08. Fact shall not be considered material unless it has a direct bearing
            on the risk undertaken by the insurer. The
            onus is on insurer to show that if the insurer had been aware of the said
            fact, no life insurance policy would have been issued to the insured.</p>
        <p class="conditions-list-style">09. The insurer can call for proof of age at any time if he is entitled to
            do so and no policy shall be deemed to be
            called in question merely because the terms of the policy are adjusted
            on subsequent proof of age of life insured. So, this Section will not be applicable for questioning age
            or
            adjustment based on proof of age submitted subsequently.</p>

        <p>[Disclaimer: This is not a comprehensive list of amendments of Insurance Laws (Amendment) Ordinance, 2014
            and only a simplified version prepared for general
            information. Policy Holders are advised to refer to Original Ordinance Gazette Notification dated December
            26,
            2014 for complete and accurate details. ]</p>

    </div>
    <div class="consent-form" *ngIf="data?.insurerCode === 151">
        <p class="terms-headding">Declaration & Authorization*:
        <p></p>
        <ul>
            <li class="conditions-list-style">I/We hereby declare, on my behalf and on behalf of all persons proposed to
                be insured, that the above
                statements, answers and/ or particulars given
                by me are true and complete in all respects to the best of my knowledge and that I/We am/are authorised
                to propose on behalf of these other persons.</li>
            <li class="conditions-list-style">I understand that the information provided by me will form the basis of
                the insurance policy, is subject
                to the Board approved underwriting policy of the
                insurance company and that the policy will come into force only after full receipt of the premium
                chargeable.</li>
            <li class="conditions-list-style">I/We further declare that I/We will notify in writing any change occurring
                in the occupation or general
                health of the life to be insured/proposer after the
                proposal has been submitted but before communication of the risk acceptance by the company.</li>
            <li class="conditions-list-style">I/We declare and consent to the company seeking medical information from
                any doctor or from a hospital
                who at any time has attended on the life to be
                insured/proposer or from any past or present employer concerning anything which affects the physical or
                mental health of the life to be assured/proposer
                and seeking information from any insurance company to which an application for insurance on the life to
                be assured/proposer has been made for the
                purpose of underwriting the proposal and/or claim settlement.</li>
            <li class="conditions-list-style">I/We authorize the company to share information pertaining to my proposal
                including the medical records
                for the sole purpose of proposal underwriting
                and/or claims settlement and with any Government and/or Regulatory authority.</li>
        </ul>
        <p class="terms-headding">Declaration:</p>
        <p class="conditions-list-style">I hereby confirm that I have disclosed all facts related to my health/medical
            history and that of all
            proposed to be insured. I understand that any
            misrepresentation or failure to disclose all facts will result in claim rejection and / or policy
            cancellation.</p>
    </div>

</div>
<div mat-dialog-actions>

    <button mat-button class="agree-btn" (click)="onAgreeClicked()">I Agree</button>
    <button mat-button class="cancel-btn" (click)="onCancelClicked()" cdkFocusInitial>Cancel</button>
</div>